<!DOCTYPE HTML>
<html>
<head>
    <title>@ViewBag.title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="~/Content/Styles.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
</head>
<body >
    <div class="page-wrapper">
        <form>
            <table class="alt">

                <tbody>
                    <tr>
                        <td colspan="2">Bienvenue</td>
                    </tr>
                    <tr class="accueil">
                        <td>Adresse Mail</td>
                        <td>
                            <input type="text"
                                   name="Mail"
                                   maxlength="15"
                                   size="20"
                                   autofocus="autofocus"
                                   placeholder="Adresse Mail"
                                   value="" />
                        </td>
                    </tr>
                    <tr class="accueil">
                        <td>Mot de passe</td>
                        <td>
                            <input type="password"
                                   name="pwd"
                                   maxlength="15"
                                   size="20"
                                   autofocus="autofocus"
                                   placeholder="Mot de passe" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <a href="/Main/Index">
                                <p>
                                    <input type="submit"
                                           value="Connexion" />
                                </p>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            
        </form>
        


        <!-- Footer -->
        <footer id="footer">
            <ul class="copyright">
                <li>&copy; Untitled. All rights reserved.</li>
                <li>Designed by "Les Salopards"</li>
            </ul>
        </footer>

    </div>

    <!-- Scripts -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/jquery.scrolly.min.js"></script>
    <script src="~/assets/js/jquery.dropotron.min.js"></script>
    <script src="~/assets/js/jquery.scrollex.min.js"></script>
    <script src="~/assets/js/skel.min.js"></script>
    <script src="~/assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="~/assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="~/assets/js/main.js"></script>

</body>
</html>




